.product {
    margin: 0;
    overflow: auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid green;
}
img{
    width: 200px;
    height: 200px;
}
.product__price {
    display: inline-block;
    line-height: 34px;
}

.product__button-wrap {
    float: right;
}
